@model EducationalWebGame.Models.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>AddOrEditQuestionForm</title>
</head>
<body style="background-color:lightgreen">
    <h1 class="text-center" style="margin-top: 15px">@ViewBag.AddEditTitle</h1>
    <div class="container" style="margin-top: 130px; margin-left: 50px">       
        <form>
            <div class="form-group input-group text-center" style="width: 800px; margin-left: 250px; margin-bottom: 10px">
                <label style="font-size:20px; margin-right: 10px">Въпрос:</label>
                <input required asp-for="Question" type="text" name="question" class="form-control" />
            </div>

            <div class="form-group input-group text-center" style="width: 500px; margin-left: 241px; margin-bottom: 10px">
                <label style="font-size:20px; margin-right: 10px">Отговор:</label>
                <input required asp-for="CorrectAnswer" type="text" name="correctAnswer" class="form-control" />
            </div>

            <div class="form-group input-group text-center" style="width: 1192px; margin-left: 60px; margin-bottom: 10px">
                <label style="font-size:20px; margin-right: 10px">Допълнителна информация:</label>
                <input asp-for="ExtraInfo" type="text" name="extraInfo" class="form-control" />
            </div>

            <div class="form-group input-group text-center" style="width: 550px; margin-left: 233px; margin-bottom: 10px">
                <label style="font-size:20px; margin-right: 10px">Картинка:</label>
                <input asp-for="ImagePath" type="file" accept="image/*" name="imagePath" class="form-control" />
            </div>

            <div class="form-group input-group text-center" style="width: 300px; margin-left: 246px; margin-bottom: 10px">
                <label style="font-size:20px; margin-right: 10px">Монети:</label>
                <input required asp-for="CoinsGiven" type="text" name="coinsGiven" class="form-control" style="margin-right: 15px" />

                <label style="font-size:20px; margin-right: 10px">Точки:</label>
                <input required asp-for="PointsGiven" type="text" name="pointsGiven" class="form-control" />
            </div>

            <div @ViewBag.HiddenSelects class="form-group input-group text-center" style="width: 600px; margin-left: 237px; margin-bottom: 10px">
                <label style="font-size:20px; margin-right: 10px">Вид игра:</label>
                <select name="gameType" class="form-control" style="margin-right: 15px">
                    <option>Бесеница</option>
                    <option>Подреди думата</option>
                    <option>Балони</option>
                    <option>Викторина</option>
                    <option>Шифър</option>
                </select>

                <label style="font-size:20px; margin-right: 10px">Предмет:</label>
                <select name="subject" class="form-control">
                    <option>Човекът и природата</option>
                    <option>Човекът и обществото</option>
                </select>
            </div>

            <div class="text-center" style="margin-top: 50px">
                <pre style="font-size: 25px">@ViewBag.Message</pre>
            </div>

            <div style="margin-top: 50px">
                <a asp-action="BackToQuestions" class="btn btn-lg btn-primary" style="margin-right: 350px; margin-left: 250px">Назад</a>
                <button asp-action="AddOrEditQuestion" class="btn btn-lg btn-primary">@ViewBag.AddEditContent</button>
            </div>

        </form>
    </div>
</body>
</html>
